body {
    font-family: Helvética, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
}

header {
    background-color: #050505;
    color: #a9a9a9;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #050505;
    color: #a9a9a9;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    
}

#sobre {
    text-align: justify;
}

#photo {
    max-width: 20%; 
    height: auto; 
    margin-right: 1rem;
}
